@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import url('https://css.gg/moon.css');
@import url('https://css.gg/sun.css');

:root {
    --color1: #189A46;
    --color2: #000c04;
    --color3: #f53626;
}

html,
body {
    font-family: 'Jost', sans-serif;
    font-size: 62.5%;
    color: #696969;
    margin: 0;
}

body {
    position: relative;
}

.icon--sidebar {
    position: fixed;
    right: 18.945px;
    top: 6.2rem;
    font-size: 2.6rem;
    color: #fff;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #0D1326;
    opacity: .3;
    text-align: center;
    line-height: 5rem;
    z-index: 21;
    cursor: pointer;
}

.backToTop {
    position: fixed;
    right: 18.945px;
    bottom: 7.2rem;
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color1);
    text-align: center;
    line-height: 5rem;
    z-index: 21;
    border: none;
    outline: none;
    visibility: hidden;
}

.cd-top--is-visible {
    visibility: visible;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    right: 0;
    z-index: 19;
    top: 11.2rem;
}

.sidebar__wrap {
    color: #e6ebff;
    background-color: #0c1326;
    border-radius: 0 0 0 1rem;
    padding: 1rem 0 0 0;
}

.sidebar__control {
    padding: 5rem 1rem;
    border-top: 1px solid rgba(230, 235, 255, 0.2);
}

.sidebar__control ul {
    list-style: none;
    padding: 0;

}

.sidebar__control ul li {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    opacity: 0.5;
    transition: all .25s;
}

.sidebar__control ul li:hover {
    opacity: 1;
    cursor: pointer;
}

.sidebar__control li i {
    font-size: 1.6rem;
}

/* HEADER */
.header {
    background-color: #ffff;
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 1rem 0;
    transition: all .5s;
}

.header .header__wrap .container {
    padding-left: 0;
    padding-right: 0;
}

.header .header__wrap .navbar {
    padding-left: 0;
    padding-right: 0;
}

.header .navbar>.btn__toggle {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.header .navbar>.btn__toggle i.gg-sun {
    display: none;
}

.header .text-muted {
    color: var(--color1) !important;
}

.header .navbar-brand {
    font-size: 3.4rem;
    font-weight: 600;
}

.header .navbar .navbar-nav {
    gap: 2rem;
    position: relative;
    left: -4.828rem;
}

.header .navbar .navbar-nav .nav-link {
    color: var(--color2);
    font-size: 1.92rem;
}

.header .navbar .nav-item {
    position: relative;
}

.header .navbar .nav-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--color1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.header .navbar .nav-item:hover::after {
    width: 100%;
}

.header .navbar .nav-item .nav-link {
    transition: all 1s;
}

.header .navbar .nav-item.active .nav-link {
    color: var(--color1);
}

.header .navbar .nav-item:hover .nav-link {
    color: var(--color1);
}

.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown-toggle {
    gap: 2px;
}

.header .dropdown-toggle i {
    font-size: 1rem;
}

.header .dropdown-menu {
    border-radius: 1rem;
    font-size: 1.92rem;
    padding: 1.5rem 6rem 1rem 2.5rem;
    left: -100%;
    top: 140%;
}

.header .dropdown-menu::after {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}

.header .dropdown-item {
    margin-bottom: 0.5rem;
    position: relative;
    padding-left: 0;
    background-color: transparent;
}

.header .dropdown-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--color1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.header .dropdown-item:hover::after {
    width: 100%;
}

.header .header__wrap .navbar>button {
    background-color: var(--color1);
}

.header .header__wrap .navbar>button .navbar-toggler-icon {
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .header .navbar .nav-item::after {
        display: none;
    }

    .header .navbar>.btn__toggle {
        top: 2.5rem;
        right: 5rem;
    }

    .header .navbar .navbar-nav {
        left: 0;
        align-items: center;
    }

    .header .nav-link.dropdown-toggle {
        justify-content: center;
    }

    .header .dropdown-menu {
        width: 72vw;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0.5rem;
    }

    .header .dropdown-item {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .header .dropdown-menu::after {
        width: 1rem;
        height: 1rem;
        top: 3.6rem;
    }

    .header {
        box-shadow: 0 15px 10px -15px rgb(0 0 0 / 10%);
    }
}

@media only screen and (max-width: 575px) {
    .header .header__wrap .container {
        max-width: 50rem;
    }
}

/* CAROUSEL */
.carousel__wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel__wrap.container {
    padding-left: 0;
    padding-right: 0;
}

.carousel .carousel-inner .carousel-item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-inner .carousel-item img {
    height: 95vh;
    object-fit: cover;
}

.carousel__intro {
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    color: #fff;
    /* z-index: 5; */
    text-transform: capitalize;
    /* padding-right: 10rem; */
    max-width: 75.4rem;
    /* box-sizing: border-box; */
}

.carousel__intro p:first-child {
    font-size: 6.6rem;
    font-weight: 600;
    line-height: 110%;
}

.carousel__intro p:nth-child(2) {
    font-size: 1.92rem;
    margin-bottom: 4rem;
}

.carousel__btn {
    font-size: 1.8rem;
    color: #fff;
    padding: 1rem 3rem;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: all .5s;
}

.carousel__btn:hover {
    color: var(--color1);
    background-color: #fff;
}

.carousel__btn--active {
    color: var(--color1);
    background-color: #fff;
}

.carousel__btn--mr {
    margin-right: 1rem;
}

/* .carousel__intro--left25 {
    left: 20%;
}

.carousel__intro--left45 {
    left: 45%;
} */

.carousel .carousel-indicators {
    bottom: 3rem;
}

.carousel .carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    border: none;
    opacity: .8;
}

.carousel .carousel-indicators li:hover {
    width: 3rem;
    background-color: var(--color1);
    border-radius: 1rem;
}

.carousel .carousel-indicators li.active {
    width: 3rem;
    background-color: var(--color1);
    border-radius: 1rem;
}

@media only screen and (max-width: 1199px) {
    .carousel__intro p:first-child {
        font-size: 5.2rem;
    }

    .carousel__intro p:nth-child(2) {
        font-size: 1.5rem;
    }

    .carousel__intro {
        max-width: 70.4rem;
    }
}

@media only screen and (max-width: 992px) {
    .carousel__intro p:first-child {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 575px) {
    .carousel__wrap.container {
        max-width: 50rem;
    }

    .carousel__intro p:nth-child(2) {
        margin-bottom: 2rem;
    }
}

/* ABOUT */
.about__wrap {
    padding: 8rem 0;
}

.about__text {
    max-width: 69.5rem;
    margin: 0 auto;
    text-align: center;

}

.about__text h1 {
    color: var(--color3);
    font-size: 1.8rem;
    font-weight: 400;
}

.about__text p:nth-child(2) {
    color: var(--color2);
    font-size: 4rem;
    font-weight: 600;
    line-height: 130%;
}

.about__text p:nth-child(3) {
    font-size: 1.92rem;
    margin-bottom: 3rem;
}

.about__text a {
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 2px solid var(--color1);
    transition: all .5s;
}

.about__text a:hover {
    text-decoration: none;
    color: var(--color1) !important;
}

.about__text .text-muted {
    color: var(--color2) !important;
}

@media only screen and (max-width: 992px) {
    .about__text p:nth-child(2) {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .about__wrap.container {
        max-width: 50rem;
    }

    .about__text p:nth-child(2) {
        font-size: 3.2rem;
    }
}

/* SERVICES */
.services {
    background-color: rgba(147, 107, 232, 0.05);
}

.services__wrap {
    padding: 10rem 0;
}

.services__card {
    background-color: #fff;
    padding: 4rem 3rem;
    transition: all .5s;
    width: 100%;
    border-radius: 1rem;
}

.services__card:hover {
    background-color: rgba(147, 107, 232, 0.05);
}

.services__card i {
    font-size: 3rem;
    color: var(--color1);
    margin-bottom: 3rem;
}

.services__card h1 {
    font-size: 2.4rem;
    color: var(--color2);
    margin-bottom: 2rem;
    transition: all .5s;
}

.services__card h1:hover {
    color: var(--color1);
    cursor: pointer;
}

.services__card p {
    font-size: 1.92rem;
    margin-bottom: 2rem;
}

.services__card a {
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 2px solid var(--color1);
    transition: all .5s;
}

.services__card a:hover {
    text-decoration: none;
    color: var(--color1) !important;
}

.services__card .text-muted {
    color: var(--color2) !important;
}

.--mb {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .services__wrap.container {
        max-width: 50rem;
    }

    .--mb {
        margin-bottom: 3rem;
    }
}

/* REASON */
.reason__wrap.container {
    padding-left: 0;
    padding-right: 0;
}

.reason__wrap {
    padding: 10rem 0;
}

.reason__wrap>img {
    position: relative;
    left: -3rem;
    width: 52rem;
    border-radius: 1rem;
}

.reason__info {
    font-size: 1.6rem;
    color: var(--color2);
    font-weight: 600;
    flex-basis: 50%;

}

.reason__info h1 {
    color: var(--color3);
    font-size: 1.8rem;
    font-weight: 400;
}

.reason__info p:nth-child(2) {
    font-size: 4rem;
    font-weight: 600;
    line-height: 130%;
}

.reason__info p:nth-child(3) {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    color: #696969;
    font-weight: 400;
}

.reason__info i {
    font-size: 1rem;
    color: var(--color1);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    line-height: 2rem;
    margin-right: 1rem;
}

.reason--line-height {
    line-height: 3rem;
}

@media only screen and (max-width: 1199px) {
    .reason__wrap>img {
        max-width: 42rem;
    }
}

@media only screen and (max-width: 991px) {
    .reason__info p:nth-child(2) {
        font-size: 3.5rem;
    }

    .reason__wrap {
        flex-direction: column;
        gap: 4rem;
    }

    .reason__wrap>img {
        max-width: 100%;
        width: 100%;
        left: 0;
    }
}

@media only screen and (max-width:575px) {
    .reason__wrap.container {
        max-width: 50rem;
    }
}

/* COUNT */
.count {
    color: #fff;
    background-color: var(--color1);
    padding: 5rem 0;
}

.count .count__number {
    font-size: 5rem;
    font-weight: 600;
}

.count .count__text {
    font-size: 2rem;
}

.count p.mb-5 {
    margin-bottom: 0 !important;
}

@media only screen and (max-width:991px) {
    .count p.mb-5 {
        margin-bottom: 5rem !important;
    }
}

/* VIDEO POPUP */
@keyframes fade-in-up {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.video iframe {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.video.stuck {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 350px;
    height: 200px;
    transform: translateY(100%);
    animation: fade-in-up .25s ease forwards;
}