body {
  background-color: #faf7fe;
  font-family: "Jost", sans-serif;
}

.spacing-section {
  margin-bottom: 10em;
}
/* Our plans */

.heading {
  text-align: center;
}
.pricing_title1 {
  color: red;
  font-size: 25px;
  font-weight: bolder;
}
.pricing_title2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 2em;
}

.pricing-grid1_container,
.pricing-grid3_container {
  margin-top: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.pricing-grid1_top_h6,
.pricing-grid3_top_h6 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.pricing-text1,
.pricing-text3 {
  font-size: 40px;
  font-weight: bolder;
  color: #189a46;
  margin-bottom: 60px;
}
.pricing-label1,
.pricing-label3 {
  font-weight: bolder;
  font-size: 20px;
  vertical-align: text-top;
}
.pricing-span1,
.pricing-span3 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: grey;
}

.pricing-grid1_bottom,
.pricing-grid3_bottom {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 3em;
}
.pricing-grid2_container {
  background-color: white;
  line-height: 2.5em;
  padding-bottom: 25px;
  border-radius: 10px;
}
.pricing-grid2_top {
  border-radius: 10px 10px 0 0;
  background-color: #189a46;
  padding: 3.5em 0em;
  color: white;
}
.pricing-grid2_bottom {
  font-size: 18px;
  padding: 40px 0px;
}

.pricing-save {
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  color: #189a46;
  background-color: white;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 5%;
}
.pricing-text2 {
  margin-top: 35px;
  font-size: 40px;
  font-weight: bolder;
}
.pricing-span2 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
.pricing-label2 {
  font-weight: bolder;
  font-size: 20px;
  vertical-align: text-top;
}
.standard-package {
  font-size: 30px;
}

.pricing-grid2_container {
  box-shadow: 0 5px 15px 10px rgb(17 17 17 / 20%);
}

.buy-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 3em;
  border-radius: 15px;
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
  width: 40%;
  margin-left: 30%;
}

@media (max-width: 992px) {
  .pricing-grid {
    width: 80%;
    margin-left: 10%;
    grid-gap: 20px;
  }
  .buy-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
    width: 80%;
    margin-left: 10%;
    grid-gap: 20px;
  }
}

/* Nutrition */
.nutrition {
  background-color: white;
}
.nutrition-text {
  text-align: center;
}
.nutrition-text h6 {
  color: red;
  font-size: 25px;
}
.nutrition-text h3 {
  font-weight: 600;
  font-size: 40px;
}
.nutrition-text h4 {
  font-size: 20px;
}

.nutrition-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.nutrition-video {
  position: relative;
}
.bg-icon {
  position: absolute;
  background: white;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 1s linear infinite;
}
.bg-icon i {
  color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%),
      0 0 0 20px rgb(15 162 67 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%),
      0 0 0 40px rgb(50 100 245 / 0%);
  }
}
@media (max-width: 992px) {
  .nutrition-text h6 {
    color: red;
    font-size: 20px;
  }
  .nutrition-text h3 {
    font-weight: 600;
    font-size: 35px;
  }
  .nutrition-text h4 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .nutrition-text h6 {
    color: red;
    font-size: 18px;
  }
  .nutrition-text h3 {
    font-weight: 600;
    font-size: 25px;
  }
  .nutrition-text h4 {
    font-size: 13px;
  }
}

/* testimonials */
.testimonials {
  background-color: #faf7fe;
}
.testimonials-header {
  text-align: center;
  margin-bottom: 60px;
}

.testimonials_text {
  font-size: 50px;
  color: #189a46;
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}
.testimonials-header h6 {
  color: red;
  font-size: 25px;
}
.testimonials-header h3 {
  font-weight: 600;
  font-size: 40px;
}
.container-item {
  background-color: white;
}
.item {
  padding: 20px;
  box-shadow: 0 5px 15px 0 rgb(17 17 17 / 10%);
}
.item h4 {
  font-size: 20px;
  color: grey;
}
.testimonials_image-text {
  display: flex;
  margin-top: 20px;
}

.image-text_image {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: white;
  border-radius: 50%;
}
.image-text_text {
  margin-left: 20px;
}
.image-text_text h3 {
  font-size: 20px;
  font-weight: bold;
}
.image-text_text p {
  color: grey;
}
.owl-nav {
  display: none;
}
.owl-dots {
  margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span .owl-theme .owl-dots .owl-dot span {
  background: #189a46;
  width: 30px;
  height: 10px;
}
@media (max-width: 992px) {
  .testimonials-header h6 {
    color: red;
    font-size: 20px;
  }
  .testimonials-header h3 {
    font-weight: 600;
    font-size: 35px;
  }
  .item h4 {
    font-size: 15px;
    color: grey;
  }
}
@media (max-width: 768px) {
  .testimonials-header h6 {
    font-size: 18px;
  }
  .testimonials-header h3 {
    font-weight: 600;
    font-size: 25px;
  }
  .item h4 {
    font-size: 10px;
    color: grey;
  }
}

/* Subscribe */
.subscribe {
  background-color: white;
}
.subscribe-container {
  margin: 0 15%;
}
.subscribe-text {
  text-align: center;
}
.subscribe-text h3 {
  font-size: 40px;
  font-weight: 600;
}
.subscribe-text h4 {
  font-size: 20px;
  color: grey;
  margin: 20px 0;
}

.subscribe-input {
  display: flex;
}
.form-control {
  font-size: 16px;
  height: 60px;
  border-radius: 15px;
}

.subscribe-btn {
  font-size: 18px;
  line-height: 28px;
  border-color: #189a46;
  background-color: #189a46;
  border-radius: 15px;
  color: white;
  width: 25%;
  margin-left: 5%;
}

@media (max-width: 992px) {
  .subscribe-container {
    margin: 0 10%;
  }
  .subscribe-text h3 {
    font-size: 35px;
    font-weight: 600;
  }
  .subscribe-input {
    display: flex;
    flex-wrap: wrap;
  }
  .form-control {
    font-size: 16px;
    height: 60px;
    border-radius: 15px;
    width: 100%;
  }
  .subscribe-btn {
    font-size: 18px;
    line-height: 45px;
    border-color: #189a46;
    background-color: #189a46;
    border-radius: 15px;
    color: white;
    width: 30%;
    margin-left: 35%;
  }
  .subscribe-text h4 {
    font-size: 18px;
    color: grey;
    margin: 20px 0;
  }
}
@media (max-width: 768px) {
  .subscribe-text h3 {
    font-size: 30px;
    font-weight: 600;
  }
  .subscribe-btn {
    font-size: 18px;
    line-height: 45px;
    border-color: #189a46;
    background-color: #189a46;
    border-radius: 15px;
    color: white;
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }
}

/* footer */

.footer-container {
  background-color: black;
  color: white;
}
.footer-title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
.ul-color {
  color: grey;
}

.ul-color :hover {
  color: white;
  text-decoration: underline;
}
.copy-footer a {
  color: red !important;
}

.buy-button:hover,
.subscribe-btn:hover {
  background-color: #08702e;
}
